body {
    background-image: url('../public/BGmain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0; /* To ensure the body takes the full height without margins */
  }
  